{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'js/game.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container" id="gameScreen">

    <p class="hidden" id="roomCode">{{ roomCode }}</p>
    <div class="container" id="scores">
      <center>
        <h1 id="round">ROUND 1: TABOO</h1>
        <h4 id="word_count">Words remaining: {{ count }}</h4>
        <br>
        <h4 id="team1pts">Team 1 Score: 0</h4>
        <h4 id="team2pts">Team 2 Score: 0</h4>
        <br>
        <font color="red"><h4 id="timer">Seconds remaining: 60</h4></font>

    </div>

    <div class="container" id="begin">
      <center>
        <div>
          <br>
          <h1 id="turn">Team 1 Turn</h1>
          <p>When your team is ready, press Begin.</p>
          <button class="btn btn-lg btn-default" id="begin_btn"> Begin</button>
        </div>
        <br>
        <br>
        <br>
        <br>
      </center>
    </div>

    <div class="hidden" id="gameplay">
      <center>
        <div>
          <br>
          <button class="btn btn-lg btn-default" id="correct_btn" style="background-color:lightgreen"> Correct</button>
        </div>
        <p id="lobby_message"></p>
        <br>
        <br>
        <div id="word_display">
          <p>________________________________________________</p>
          <h1 id="word"></h1>
          <p>________________________________________________</p>
        </div>
        <div>
          <br>
          <button class="btn btn-lg btn-default" id="show_word_btn"> Show word</button>
        </div>
        <br>
        <br>
      </center>
    </div>

    <div class="hidden" id="game_over">
      <center>
        <br>
        <font color="red"><h1 id="game_over_message"></h1></font>
        <div>
          <br>
          <button class="btn btn-lg btn-default" id="play_again"> Play Again</button>
        </div>
      </center>
    </div>
</div>

{% endblock %}
