{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container" id="mainScreen">
    <center><p id="message" style="color:red;"></p></center>

    <div class="container" id="startScreen">
      <center>
        <h1>Welcome to Big Bowl</h1>
        <p>A word party game consisting of three rounds using the same word bank.</p>
        <br>
        <div>
          <button class="btn btn-lg btn-default" id="new_game_btn"> New game</button>
          <button class="btn btn-lg btn-default" id="join_game_btn"> Join game</button>
        </div>
        <br>
        <div class="container">
          <button class="btn btn-lg btn-default" id="how_to_play_btn"> How to play</button>
        </div>
      </center>
    </div>

    <div class="hidden" id="joinScreen">
      <center>
        <h1>Enter the room code</h1>
        <br>
        <input type="text" id="room_code_box" />
        <div>
          <br>
          <button class="btn btn-lg btn-default" id="submit_room_code_btn"> Enter</button>
          <button class="btn btn-lg btn-default" id="cancel_btn"> Cancel</button>
        </div>
      </center>
    </div>

    <div class="hidden" id="howtoplayScreen">
        <h2>HOW TO PLAY</h2>
        <ul>
          <li>Divide the players into two equal groups. (4+ people recommended. To play with 2 or 3 people, just ignore the team scores and have fun.).</li>
          <li>Then, individually submit words to the word bank. Do not share words with your team or opponents! (Recommendation is 5 words per player).</li>
          <li>Once the game starts, take turns to try to get your team members to guess the current word on the screen. The opposite team cannot guess the word. However, they should listen so they know what words have been used so far.</li>
          <li>Your team has 1 minute to guess as many words as possible before the timer runs out.</li>
          <li>Continue switching teams until the word bank is empty. Once the word bank is empty, the game moves on to the next round using the same words.</li>
          <li>The team with the most points after the three rounds wins!</li>

        </ul>

        <br>
        <h2>THE THREE ROUNDS</h2>
        <ul>
          <li><b><u>ROUND 1: TABOO.</u></b> Use any phrases or sentences to describe the word on the screen (except the word itself).</li>
          <li><b><u>ROUND 2: CHARADES.</u></b> Use any gestures or motions to describe the word on the screen (no talking!).</li>
          <li><b><u>ROUND 3: PASSWORD.</u></b> You can only say ONE word to describe the word on the screen (except the word itself).</li>
        </ul>
        <br>

        <h2>HOW TO GET STARTED WITH THIS APP</h2>
        <ul>
          <li>Create a new game.</li>
          <li>Optionally, you can have other people join your room and enter words. However, you can take turns using this device to input words.</li>
          <li>Once you are satisfied with the size of the word bank, click Start Game.</li>
          <li>Now, your device will be the only one used for the remainder of the game.</li>
          <li>Follow the instructions on the screen and begin playing the first turn!</li>
          <li>When your turn is complete, pass this device to the opposite team.</li>
        </ul>

        <div>
          <br>
          <button class="btn btn-lg btn-default" id="back_btn"> Back</button>
        </div>
    </div>


    <div class="hidden" id="lobby">
      <center>
        <h1 id="room_code">Room Code: ------</h1>
        <p id="word_count">Word Bank Count: 0</p>
        <p id="contribution">You have contributed 0 word(s)</p>
        <br>
        <br>
        <p>Enter words below to add to the word bank.</p>
        <p>Think of difficult words for the opposing team but remember that everyone on your team should be able to easily describe it.</p>
        <br>
        <input type="text" id="submit_word_box" />
        <div>
          <br>
          <button class="btn btn-lg btn-default" id="submit_word_btn"> Submit</button>
        </div>
        <br>
        <p id="lobby_message"></p>
        <p>_____________________________________________________________________________________</p>
        <p>When you are happy with the amount of words in the word bank, click Start Game below.</p>
        <p>Note: Only one device is required to play once you start the game. Simply pass the designated device from team to team.</p>
        <div>
          <br>
          <button class="btn btn-lg btn-default" id="start_game_btn" style="background-color:lightgreen"> Start Game</button>
           <button class="btn btn-lg btn-default" id="back_home_btn" style="background-color:#ff5555"> Leave Room</button>
        </div>
      </center>
    </div>

    <div class="hidden" id="gameScreen">

      <p class="hidden" id="gameRoomCode">{{ roomCode }}</p>
      <div class="container" id="scores">
        <center>
          <h1 id="round">ROUND 1: TABOO</h1>
          <h4 id="words_remaining">Words remaining: {{ count }}</h4>
          <br>
          <h4 id="team1pts">Team 1 Score: 0</h4>
          <h4 id="team2pts">Team 2 Score: 0</h4>
          <br>
          <font color="red"><h4 id="timer">Seconds remaining: 60</h4></font>

      </div>

      <div class="container" id="begin">
        <center>
          <div>
            <br>
            <h1 id="turn">Team 1 Turn</h1>
            <p>When your team is ready, press Begin.</p>
            <button class="btn btn-lg btn-default" id="begin_btn"> Begin</button>
          </div>
          <br>
          <br>
          <br>
          <br>
        </center>
      </div>

      <div class="hidden" id="gameplay">
        <center>
          <div>
            <br>
            <button class="btn btn-lg btn-default" id="correct_btn" style="background-color:lightgreen"> Correct</button>
          </div>
          <p id="lobby_message"></p>
          <br>
          <br>
          <div id="word_display">
            <p>________________________________________________</p>
            <h1 id="word"></h1>
            <p>________________________________________________</p>
          </div>
          <div>
            <br>
            <button class="btn btn-lg btn-default" id="show_word_btn"> Show word</button>
          </div>
          <br>
          <br>
        </center>
      </div>

      <div class="hidden" id="timesUp">
        <center>
          <div>
            <br>
            <font color="white"><p style="background-color:#ff0000; font-size:80px">Time's Up!</p></font>
            <button class="btn btn-lg btn-default" id="timesup_continue_btn"> Continue</button>
          </div>
        </center>
      </div>

      <div class="hidden" id="roundComplete">
        <center>
          <div>
            <br>
            <font color="white"><p style="background-color:#00ff00; font-size:80px">Round Complete!</p></font>
            <button class="btn btn-lg btn-default" id="roundcomplete_continue_btn"> Continue</button>
          </div>
        </center>
      </div>

      <div class="hidden" id="game_over">
        <center>
          <br>
          <font color="red"><h1 id="game_over_message"></h1></font>
          <div>
            <br>
            <button class="btn btn-lg btn-default" id="play_again"> Play Again</button>
          </div>
        </center>
      </div>
  </div>

  <div class="container" id="credits">
    <br>
    <br>
    <br>
    <center>
      <h5>Open source project by Jeffrey Chan</h5>
      <h5>Feel free to contribute at: <a href="https://github.com/superjeffreyc/Big-Bowl-Game">https://github.com/superjeffreyc/Big-Bowl-Game</a></h5>
    </center>
  </div>

</div>

{% endblock %}
