{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container" id="mainScreen">
    <center><p id="message" style="color:red;"></p></center>

    <div class="container" id="startScreen">
      <center>
        <h1>Welcome to Big Bowl</h1>
        <p>A party game consisting of three rounds using the same word bank.</p>
        <br>
        <div>
          <button class="btn btn-lg btn-default" id="new_game_btn"> New game</button>
          <button class="btn btn-lg btn-default" id="join_game_btn"> Join game</button>
        </div>
        <br>
        <div class="container">
          <button class="btn btn-lg btn-default" id="how_to_play_btn"> How to play</button>
        </div>
      </center>
    </div>

    <div class="hidden" id="joinScreen">
      <center>
        <h1>Enter the room code</h1>
        <br>
        <input type="text" id="room_code_box" />
        <div>
          <br>
          <button class="btn btn-lg btn-default" id="submit_room_code_btn"> Enter</button>
          <button class="btn btn-lg btn-default" id="back_btn"> Back</button>
        </div>
      </center>
    </div>

    <div class="hidden" id="howtoplayScreen">
        <h1>How to play (At least 4 players required)</h1>
        <ul>
          <li>Divide the players into two groups.</li>
          <li>Then, each player should individually submit words to the word bank. Do not share words with your team or opponents! (Recommendation is 5 words per player).</li>
          <li>Once the game starts, each team takes turns to have one of its team members try to get team members to guess the current word on the screen.</li>
          <li>The opposite team cannot guess the word. However, they should listen so they know what words have been used in the word bank.</li>
          <li>Your team has 1 minute to guess as many words as possible before the timer runs out.</li>
          <li>Once the word bank is empty, the game moves on to the next round.</li>
          <li>The team with the most points after the three rounds wins!</li>

        </ul>

        <h1>The three rounds</h1>
        <ul>
          <li><b><u>ROUND 1: TABOO.</u></b> Use any phrases or sentences to describe the word on the screen (except the word itself).</li>
          <li><b><u>ROUND 2: CHARADES.</u></b> Use any gestures or motions to describe the word on the screen (no talking!).</li>
          <li><b><u>ROUND 3: PASSWORD.</u></b> You can only say ONE word to describe the word on the screen (except the word itself).</li>
        </ul>

        <h1>How to get started with this app</h1>
        <ul>
          <li>Create a new room.</li>
          <li>Optionally, you can have other people join your room and enter words. However, you can take turns using this device to input words.</li>
          <li>Once you are satisfied with the size of the word bank, click Start Game.</li>
          <li>Follow the instructions on the phone and begin playing the first turn!A party game consisting of three rounds using the same word bank.</li>
          <li>When your turn is complete, pass this device to the opposite team and have their first player go next.</li>
        </ul>

        <div>
          <br>
          <button class="btn btn-lg btn-default" id="back_btn"> Back</button>
        </div>
    </div>

</div>

{% endblock %}
