{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="container" id="lobby">
      <center>
        <h1 id="room_code">Room Code: {{ roomCode }}</h1>
        <p id="word_count">Word Bank Count: {{ count }}</p>
        <p id="lobby_message"></p>
        <br>
        <br>
        <p>Enter words below to add to the word bank.</p>
        <p>Think of difficult words for the opposing team but remember that everyone on your team should be able to easily describe it.</p>
        <br>
        <input type="text" id="submit_word_box" />
        <div>
          <br>
          <button class="btn btn-lg btn-default" id="submit_word_btn"> Submit</button>
        </div>
        <br>
        <p>_____________________________________________________________________________________</p>
        <p>When you are happy with the amount of words in the word bank, click Start Game below.</p>
        <div>
          <br>
          <button class="btn btn-lg btn-default" id="start_game_btn" style="background-color:lightgreen"> Start Game</button>
           <button class="btn btn-lg btn-default" id="back_home_btn" style="background-color:#ff5555"> Leave Room</button>
        </div>
      </center>
    </div>
</div>

{% endblock %}
